.row .row {margin-left:1px;}
a.active { background-color: gray; }
.side-nav li a.active:not(.button) { color: white; }
.side-nav li a.active:hover:not(.button) { color: gray; }

div.active { display:block}