<html>
  <head>
    <title>Learning Go with Martini - Resources &amp; Attributes - {{.}}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bland.css" type="text/css">
  </head>
  <body>
    <!-- Render the template here -->
    {{ yield }}
  </body>
</html>
