<html>
  <head>
    <title>Learning Go with Martini - Resources &amp; Attributes - {{.}}</title>
  </head>
  <body>
    <!-- Render the template here -->
    <h4>I am the bland layout</h4>
    {{ yield }}
  </body>
</html>